/* Navbar styles */
.navbar {
  background-color: #5a7492;
  padding: 1rem 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}

.navbar .navbar-logo span {
  color: #b12e2e;
  font-size: 2.5rem;
  margin-right: 1rem;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #333;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  /* border-bottom: 0.1rem solid #333; */
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

/* display none untuk desktop */
/* display block untuk mobile */

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #333;
}

#hamburger-menu {
  display: none;
}

.label {
  display: none;
}

i {
  display: inline;
}

.search-container {
  display: none;
  position: fixed;
  top: 4rem; /* Sesuaikan dengan tinggi navbar Anda */
  left: 0;
  z-index: 999; /* Pastikan input pencarian tampil di atas konten lain */
  width: 100%;
  padding: 2rem;
  background-color: #5a7492; /* Warna background */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.3s ease forwards;
}

#search-input {
  width: calc(
    100% - 1rem
  ); /* Lebar input adalah 100% lebar container dikurangi padding */
  border: none;
  border-bottom: 2px solid #fff; /* Garis bawah */
  outline: none;
  font-size: 1rem;
  padding: 0.5rem 0;
  margin: 0;
  background-color: #5a7492; /* Warna background */
  color: #fff; /* Warna teks input */
}

#search-input::placeholder {
  color: #fff; /* Warna teks placeholder */
}

/* Tampilkan input pencarian saat tombol pencarian diklik */
.show-search {
  display: block;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 62, 5%;
  }

  .navbar-extra {
    display: flex;
    align-items: center;
  }

  .navbar-icons {
    display: flex;
    align-items: center;
  }

  #hamburger-menu {
    display: flex;
    cursor: pointer;
    color: white;
    margin-left: auto;
  }

  #hamburger-menu:hover {
    color: #333;
  }

  .navbar .navbar-nav {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: #5a7492;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    padding: 1rem 0;
  }

  .navbar .navbar-nav.show {
    display: flex;
  }

  .navbar .navbar-nav a {
    margin: 1rem;
  }

  .label {
    display: inline;
  }

  i {
    display: none;
  }

  .search-container {
    padding: 1rem;
    top: 31rem; /* Ubah padding untuk layar yang lebih kecil */
  }

  #search-input {
    font-size: 0.8rem; /* Ubah ukuran font untuk layar yang lebih kecil */
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  #hamburger-menu {
    display: inline-block;
  }
  .label {
    display: inline;
  }

  i {
    display: none;
  }
}
