/* Global styles */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html button,
html hr,
html input {
  overflow: visible;
}

html audio,
html canvas,
html progress,
html video {
  display: inline-block;
}

html progress,
html sub,
html sup {
  vertical-align: baseline;
}

html [type="checkbox"],
html [type="radio"],
html legend {
  box-sizing: border-box;
  padding: 0;
}

html html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html body {
  margin: 0;
}

html article,
html aside,
html details,
html figcaption,
html figure,
html footer,
html header,
html main,
html menu,
html nav,
html section {
  display: block;
}

html figure {
  margin: 1em 40px;
}

html hr {
  box-sizing: content-box;
  height: 0;
}

html code,
html kbd,
html pre,
html samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

html a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

html abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

html b,
html strong {
  font-weight: bolder;
}

html dfn {
  font-style: italic;
}

html mark {
  background-color: #ff0;
  color: #000;
}

html small {
  font-size: 80%;
}

html sub,
html sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

html sub {
  bottom: -0.25em;
}

html sup {
  top: -0.5em;
}

html audio:not([controls]) {
  display: none;
  height: 0;
}

html img {
  border-style: none;
}

html svg:not(:root) {
  overflow: hidden;
}

html button,
html input,
html optgroup,
html select,
html textarea {
  font-family: sans-serif;
  font-size: 100%;
  margin: 0;
}

html button,
html select {
  text-transform: none;
}

html [type="reset"],
html [type="submit"],
html button,
html html [type="button"] {
  -webkit-appearance: button;
}

html [type="button"]::-moz-focus-inner,
html [type="reset"]::-moz-focus-inner,
html [type="submit"]::-moz-focus-inner,
html button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

html [type="button"]:-moz-focusring,
html [type="reset"]:-moz-focusring,
html [type="submit"]:-moz-focusring,
html button:-moz-focusring {
  outline: ButtonText dotted 1px;
}

html fieldset {
  padding: 0.35em 0.75em 0.625em;
}

html legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

html textarea {
  overflow: auto;
}

html [type="number"]::-webkit-inner-spin-button,
html [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

html [type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

html [type="search"]::-webkit-search-cancel-button,
html [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

html ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

html summary {
  display: list-item;
}

html [hidden],
html template {
  display: none;
}

/* Defaults */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

img {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  max-width: 100%;
  vertical-align: bottom;
}

section {
  overflow: hidden;
}

::selection {
  background: #575bde;
  color: #fff;
}

::-moz-selection {
  background: #575bde;
  color: #fff;
}

:root {
  --primary: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar {
  background-color: #5a7492;
  padding: 1rem 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}

.navbar .navbar-logo span {
  color: #b12e2e;
  font-size: 2.5rem;
  margin-right: 1rem;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #333;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #333;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #333;
}

#hamburger-menu {
  display: none;
}

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 62, 5%;
  }

  .navbar-extra {
    display: flex;
    align-items: center;
}

.navbar-icons {
    display: flex;
    align-items: center;
}

#hamburger-menu {
    display: flex;
    cursor: pointer;
    color: white;
    margin-left: auto; /* Menggeser ikon hamburger ke ujung kanan */
}

#hamburger-menu:hover {
    color: #333;
}

.navbar .navbar-nav {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: #5a7492;
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    padding: 1rem 0;
}

.navbar .navbar-nav.show {
    display: flex;
}

.navbar .navbar-nav a {
    margin: 1rem;
}
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  #hamburger-menu {
    display: inline-block;
  }
}

html {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

body {
  color: #110f24;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  overflow-x: hidden;
}

a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  color: #575bde;
  cursor: pointer;
  text-decoration: none;
}

a:hover:not(.button) {
  color: #110f24;
  opacity: 0.9;
}

blockquote {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 2rem;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem;
  background: #f6f6f9;
  border-left: 3px solid #ccced0;
  font-style: italic;
  margin: 0 0 1rem 0;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 5.25rem;
}

h1.hero {
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.75rem;
}

@media only screen and (max-width: 479px) {
  h1 {
    font-size: 3rem;
    line-height: 3.75rem;
  }
  h1.hero {
    font-size: 2.5rem;
    line-height: 3.25rem;
  }
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.75rem;
}

@media only screen and (max-width: 479px) {
  h2 {
    font-size: 2.5rem;
    line-height: 3.25rem;
  }
}

/* -----------------------------------------------------------------------------

# Base - Grid

----------------------------------------------------------------------------- */
.row {
  display: table;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.row .col-one-half {
  width: 48%;
}

.row .col-one-third {
  width: 30.6666666667%;
}

.row .col-one-fourth {
  width: 16.8%;
}

.row .col-one-fifth {
  width: 16.8%;
}

.row .col-one-sixth {
  width: 22%;
}

.row .col-two-thirds {
  width: 65.3333333333%;
}

.row .col-two-fourths {
  width: 48%;
}

.row .col-two-fifths {
  width: 37.6%;
}

.row .col-three-fourths {
  width: 74%;
}

.row .col-three-fifths {
  width: 58.4%;
}

.row .col-four-fifths {
  width: 79.2%;
}

.row [class^="col-"] {
  float: left;
  margin: 0 2%;
}

.row [class^="col-"]:first-child {
  margin-left: 0;
}

.row [class^="col-"]:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 1023px) {
  .row [class^="col-"] {
    margin: 3rem 2% 0 2%;
    width: 48%;
  }
  .row [class^="col-"]:nth-child(-n + 2) {
    margin-top: 0;
  }
  .row [class^="col-"]:nth-child(odd) {
    margin-left: 0;
  }
  .row [class^="col-"]:nth-child(even) {
    margin-right: 0;
  }
  .row [class^="col-"]:last-child:nth-child(odd) {
    width: 100%;
  }
  .row [class*="-fifth"] {
    margin: 3rem 0 0 0;
    width: 100%;
  }
  .row [class*="-fifth"]:nth-child(2) {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 767px) {
  .row [class^="col-"] {
    margin: 3rem 0 0 0;
    width: 100%;
  }
  .row [class^="col-"]:nth-child(2) {
    margin-top: 3rem;
  }
}

/* Reduce spacing between rows */
@media only screen and (max-width: 1023px) {
  .row.reduce-spacing [class^="col-"] {
    margin: 1rem 2% 0 2%;
  }
  .row.reduce-spacing [class^="col-"]:last-child {
    margin-right: 0;
  }
  .row.reduce-spacing [class^="col-"]:nth-child(-n + 2) {
    margin-top: 0;
  }
  .row.reduce-spacing [class^="col-"]:nth-child(odd) {
    margin-left: 0;
  }
  .row.reduce-spacing [class^="col-"]:nth-child(even) {
    margin-right: 0;
  }
  .row.reduce-spacing [class*="-fifth"] {
    margin: 1rem 0 0 0;
  }
  .row.reduce-spacing [class*="-fifth"]:nth-child(2) {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  .row.reduce-spacing [class^="col-"] {
    margin: 1rem 0 0 0;
  }
  .row.reduce-spacing [class^="col-"]:nth-child(2) {
    margin-top: 1rem;
  }
}

/* -----------------------------------------------------------------------------

# Tools - Align

----------------------------------------------------------------------------- */
.center {
  text-align: center;
}

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}

.middle {
  display: table;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

@media only screen and (max-width: 1023px) {
  .center-desktop {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .center-tablet {
    text-align: center;
  }
}

@media only screen and (max-width: 479px) {
  .center-mobile {
    text-align: center;
  }
}

/* Overlays */
.overlay:before {
  background: rgba(255, 255, 255, 0.7);
}

.dark.overlay-shape-02:before {
  background: url(signup.svg);
}

.bg-image-2:after {
  background: url(signup.svg);
}

/* -----------------------------------------------------------------------------

# Tools - Divider

----------------------------------------------------------------------------- */
.divider {
  border-bottom: 1px solid #ececee;
  margin: 3rem 0;
  width: 100%;
}

.dark .divider {
  border-bottom: 1px solid #110f24;
}

/* -----------------------------------------------------------------------------
  
  # Tools - Full Screen
  
  ----------------------------------------------------------------------------- */
.full-screen {
  min-height: calc(100vh);
  width: 100%;
}

@media all and (-ms-high-contrast: none) {
  .full-screen {
    display: block;
    min-height: 0;
    padding-bottom: 8rem !important;
    padding-top: 8rem !important;
  }
}

/* -----------------------------------------------------------------------------
  
  # Tools - Full Width
  
  ----------------------------------------------------------------------------- */
.full-width {
  width: 100% !important;
}

@media only screen and (max-width: 767px) {
  .full-width-tablet {
    width: 100% !important;
  }
}

@media only screen and (max-width: 479px) {
  .full-width-mobile {
    width: 100% !important;
  }
}

/* -----------------------------------------------------------------------------
  
  # Tools - Max Width
  
  ----------------------------------------------------------------------------- */
[class*="max-width-"] {
  margin: 0 auto;
  width: 100%;
}

.max-width-s {
  max-width: 400px;
}

.max-width-m {
  max-width: 800px;
}

.max-width-l {
  max-width: 1200px;
}

/* -----------------------------------------------------------------------------
  
  # Tools - Min Width
  
  ----------------------------------------------------------------------------- */
[class*="min-width-"] {
  margin: 0 auto;
}

.min-width-s {
  min-width: 400px;
}

.min-width-m {
  min-width: 800px;
}

.min-width-l {
  min-width: 1200px;
}

/* -----------------------------------------------------------------------------
  
  # Tools - Opacity
  
  ----------------------------------------------------------------------------- */
.opacity-s {
  opacity: 0.9 !important;
}

.opacity-m {
  opacity: 0.4 !important;
}

.opacity-l {
  opacity: 0.1 !important;
}

/* -----------------------------------------------------------------------------
  
  # Tools - Rounded
  
  ----------------------------------------------------------------------------- */
.rounded {
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}

.rounded-bottom {
  -webkit-border-bottom-left-radius: 0.5rem;
  -moz-border-radius-bottomleft: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  -webkit-border-bottom-right-radius: 0.5rem;
  -moz-border-radius-bottomright: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.rounded-top {
  -webkit-border-top-left-radius: 0.5rem;
  -moz-border-radius-topleft: 0.5rem;
  border-top-left-radius: 0.5rem;
  -webkit-border-top-right-radius: 0.5rem;
  -moz-border-radius-topright: 0.5rem;
  border-top-right-radius: 0.5rem;
}

/* -----------------------------------------------------------------------------
  
  # Tools - Shadow
  
  ----------------------------------------------------------------------------- */
.shadow-s {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.shadow-m {
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.shadow-l {
  -webkit-box-shadow: 0 32px 40px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 32px 40px rgba(0, 0, 0, 0.1);
  box-shadow: 0 32px 40px rgba(0, 0, 0, 0.1);
}

.shadow-none {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* -----------------------------------------------------------------------------
  
  # Tools - Spacing
  
  ----------------------------------------------------------------------------- */
.padding {
  padding: 5rem;
}

@media only screen and (max-width: 1023px) {
  .padding {
    padding: 3rem;
  }
}

@media only screen and (max-width: 767px) {
  .padding {
    padding: 3rem 1rem;
  }
}

.padding-bottom {
  padding-bottom: 12rem;
}

@media only screen and (max-width: 1023px) {
  .padding-bottom {
    padding-bottom: 10rem;
  }
}

@media only screen and (max-width: 767px) {
  .padding-bottom {
    padding-bottom: 8rem;
  }
}

.padding-top {
  padding-top: 12rem;
}

@media only screen and (max-width: 1023px) {
  .padding-top {
    padding-top: 10rem;
  }
}

@media only screen and (max-width: 767px) {
  .padding-top {
    padding-top: 8rem;
  }
}

/* Add spacing above content */
@media only screen and (max-width: 767px) {
  .padding-top-tablet {
    padding-top: 8rem;
  }
}

/* Add spacing above or below content */
.margin-bottom {
  margin-bottom: 5rem;
}

@media only screen and (max-width: 1023px) {
  .margin-bottom {
    margin-bottom: 3rem;
  }
}

.margin-top {
  margin-top: 5rem;
}

@media only screen and (max-width: 1023px) {
  .margin-top {
    margin-top: 3rem;
  }
}

/* Negative spacing */
.-margin-bottom {
  margin-bottom: -5rem;
}

@media only screen and (max-width: 1023px) {
  .-margin-bottom {
    margin-bottom: -3rem;
  }
}

.-margin-bottom-2 {
  margin-bottom: -10rem;
}

@media only screen and (max-width: 1023px) {
  .-margin-bottom-2 {
    margin-bottom: -6rem;
  }
}

/* Default spacing */
.space {
  margin: 1rem;
}

.space-bottom {
  margin-bottom: 1rem;
}

.space-left {
  padding-left: 1rem;
}

.space-right {
  padding-right: 1rem;
}

.space-top {
  margin-top: 1rem;
}

/* Remove spacing */
.space-none {
  margin: 0;
}

.space-bottom-none {
  margin-bottom: 0;
}

.space-left-none {
  padding-left: 0;
}

.space-right-none {
  padding-right: 0;
}

.space-top-none {
  margin-top: 0;
}

/* -----------------------------------------------------------------------------
  
  # Components - Alerts
  
  ----------------------------------------------------------------------------- */
.alert {
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem;
  background: #f6f6f9;
  margin-bottom: 1rem;
  padding: 1rem;
}

.alert.alert-default {
  border-left: 3px solid #ccced0;
}

.alert.alert-error {
  border-left: 3px solid #e52b20;
}

.alert.alert-success {
  border-left: 3px solid #63ce63;
}

.alert.alert-warning {
  border-left: 3px solid #ffbf2f;
}

.dark .alert {
  background: #110f24;
}

/* -----------------------------------------------------------------------------

# Components - Forms

----------------------------------------------------------------------------- */
form {
  /* Checkboxes and radio buttons */
  /* Switch */
}

form label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
}

form input[type="email"],
form input[type="password"],
form input[type="text"],
form select,
form textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem;
  background: #f6f6f9;
  border: 1px solid #ececee;
  color: #110f24;
  padding: 0.5rem 0.75rem;
  width: 100%;
}

form input[type="email"]:focus,
form input[type="password"]:focus,
form input[type="text"]:focus,
form select:focus,
form textarea:focus {
  border: 1px solid #ccced0;
  outline: none;
}

form input[type="email"],
form input[type="password"],
form input[type="text"],
form select,
form .select-wrapper {
  height: 2.5rem;
}

form .select-wrapper {
  position: relative;
}

form .select-wrapper:before {
  direction: ltr;
  display: inline-block;
  font-family: "Material Icons";
  font-feature-settings: "liga";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #110f24;
  content: "keyboard_arrow_down";
  height: 2.5rem;
  line-height: 2.5rem;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 2.5rem;
}

form .select-wrapper select {
  cursor: pointer;
}

form .select-wrapper select::-ms-expand {
  display: none;
}

form textarea {
  min-height: 10rem;
}

form input[type="checkbox"],
form input[type="radio"] {
  display: none;
}

form input[type="checkbox"]:checked + label.checkbox:before,
form input[type="checkbox"]:checked + label.radio:before,
form input[type="radio"]:checked + label.checkbox:before,
form input[type="radio"]:checked + label.radio:before {
  background: #575bde;
}

form input[type="checkbox"]:checked + label.checkbox:after,
form input[type="checkbox"]:checked + label.radio:after,
form input[type="radio"]:checked + label.checkbox:after,
form input[type="radio"]:checked + label.radio:after {
  color: #fff;
}

form label.checkbox,
form label.radio {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  cursor: pointer;
  display: block;
  line-height: 2.5rem;
  padding-left: 2rem;
  position: relative;
  width: fit-content;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

form label.checkbox:before,
form label.radio:before {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background: #ececee;
  content: "";
  height: 1.5rem;
  left: 0;
  position: absolute;
  top: 0.5rem;
  width: 1.5rem;
}

.dark form label.checkbox:before,
.dark form label.radio:before {
  background: #fff;
}

form label.checkbox:after,
form label.radio:after {
  direction: ltr;
  display: inline-block;
  font-family: "Material Icons";
  font-feature-settings: "liga";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  color: transparent;
  content: "check";
  font-size: 1.25rem;
  height: 1.5rem;
  left: 0;
  line-height: 1.5rem;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 0.5rem;
  width: 1.5rem;
}

form label.checkbox:last-child,
form label.radio:last-child {
  margin-bottom: 0;
}

form label.checkbox:before {
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem;
}

form label.radio:before {
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  border-radius: 0.75rem;
}

form input.switch {
  display: none;
}

form input.switch:checked + label.switch:before {
  background: #575bde;
}

form input.switch:checked + label.switch:after {
  left: 26px;
}

form label.switch {
  cursor: pointer;
  display: block;
  height: 32px;
  width: fit-content;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

form label.switch:before {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background: #ececee;
  content: "";
  display: block;
  height: 32px;
  width: 56px;
}

.dark form label.switch:before {
  background: rgba(255, 255, 255, 0.1);
}

form label.switch:after {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background: #fff;
  content: "";
  display: block;
  height: 28px;
  left: 2px;
  position: relative;
  top: -30px;
  width: 28px;
}

form .form-group {
  margin-bottom: 1rem;
  position: relative;
}

form .form-help {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  color: #110f24;
  opacity: 0.4;
}

@media only screen and (max-width: 767px) {
  form .row.unequal [class^="col-"].unequal {
    margin: 0;
  }
}

@media only screen and (max-width: 479px) {
  form input[type="email"],
  form input[type="password"],
  form input[type="text"],
  form select,
  form .select-wrapper {
    height: 3rem;
  }
  form .select-wrapper:before {
    height: 3rem;
    line-height: 3rem;
    width: 3rem;
  }
}

/* -----------------------------------------------------------------------------

# Components - Header

----------------------------------------------------------------------------- */
.no-scroll {
  overflow: hidden;
}

.header-main {
  background: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header-main nav {
  display: inline-block;
  padding: 2rem;
  width: 100%;
}

.header-main a {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.header-main a:not(.button) {
  color: #110f24;
  font-weight: 600;
  height: 2.5rem;
  line-height: 2.5rem;
}

.header-main a:not(.button):hover {
  color: #575bde;
}

.header-main ul.inline {
  display: inline-block;
  margin: 0;
}

.header-main ul.inline li {
  margin-bottom: 0;
  padding-right: 2rem;
}

.header-main .nav-toggle {
  display: none;
}

.header-main.dark a:not(.button) {
  color: #fff;
}

.header-main.dark a:not(.button):hover {
  color: #fff;
}

.header-main.dark .nav-toggle:before {
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .header-main {
    position: fixed;
  }
  .header-main nav {
    padding: 0.5rem 0.75rem;
  }
  .header-main a:not(.button):hover {
    color: #110f24;
  }
  .header-main ul.inline {
    display: none;
  }
  .header-main .nav-toggle {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 2.5rem;
    text-align: center;
    width: 1.5rem;
  }
  .header-main .nav-toggle:before {
    direction: ltr;
    display: inline-block;
    font-family: "Material Icons";
    font-feature-settings: "liga";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-rendering: optimizeLegibility;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #110f24;
    content: "menu";
    line-height: 2.5rem;
    /* Prevent text from icon name to show up before load */
  }
  .preload .header-main .nav-toggle:before {
    font-size: 0;
  }
  .header-main.fade-in nav {
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    background: rgba(17, 15, 36, 0.94);
  }
  .header-main.fade-in a:not(.button) {
    color: #fff;
  }
  .header-main.fade-in a:not(.button):hover {
    color: #fff;
  }
  .header-main.fade-in .nav-toggle:before {
    color: #fff;
  }
  .header-main.active {
    height: 100%;
  }
  .header-main.active nav {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    background: #05050b;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .header-main.active a:not(.button) {
    color: #fff;
  }
  .header-main.active a:not(.button):hover {
    color: #fff;
  }
  .header-main.active ul.inline {
    display: block;
    width: 100%;
  }
  .header-main.active ul.inline li {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 1rem;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .header-main.active ul.inline li a:not(.button) {
    font-weight: 400;
    line-height: 3rem;
  }
  .header-main.active .nav-toggle {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .header-main.active .nav-toggle:before {
    color: #fff;
    content: "close";
  }
  .header-main.active .button {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    height: 4rem;
    line-height: 4rem;
    margin-top: 1rem;
  }
  .header-main.active .button-secondary {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
  }
  .header-main.active .button-secondary:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

/* -----------------------------------------------------------------------------

# Components - Buttons

----------------------------------------------------------------------------- */
.button {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  font-weight: 700;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  border-radius: 3rem;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1.25rem;
  text-align: center;
}

.button.button-s {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  font-weight: 700;
  height: 2rem;
  line-height: 2rem;
  padding: 0 0.75rem;
}

.button.button-m {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  font-weight: 700;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1rem;
}

.button.button-l {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
  font-weight: 700;
  height: 3.5rem;
  line-height: 3.5rem;
  padding: 0 1.5rem;
}

.button.button-primary {
  background: #393ed8;
  background: -webkit-linear-gradient(140deg, #575bde 25%, #393ed8 100%);
  background: -moz-linear-gradient(140deg, #575bde 25%, #393ed8 100%);
  background: -ms-linear-gradient(140deg, #575bde 25%, #393ed8 100%);
  background: -o-linear-gradient(140deg, #575bde 25%, #393ed8 100%);
  background: linear-gradient(140deg, #575bde 25%, #393ed8 100%);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.button.button-primary:hover {
  background: #575bde;
  background: -webkit-linear-gradient(140deg, #575bde 25%, #575bde 100%);
  background: -moz-linear-gradient(140deg, #575bde 25%, #575bde 100%);
  background: -ms-linear-gradient(140deg, #575bde 25%, #575bde 100%);
  background: -o-linear-gradient(140deg, #575bde 25%, #575bde 100%);
  background: linear-gradient(140deg, #575bde 25%, #575bde 100%);
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transform: translateY(-1px);
}

.button.button-secondary {
  background: #ececee;
  color: #110f24;
}

.button.button-secondary:hover {
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transform: translateY(-1px);
  background: #f6f6f9;
  color: #575bde;
}

.dark .button.button-secondary {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.dark .button.button-secondary:hover {
  background: rgba(255, 255, 255, 0.4);
}

.button.button-disabled {
  background: #ccced0;
  color: #110f24;
  cursor: default;
  opacity: 0.4;
  pointer-events: none;
}

.button.button-close {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background: #fff;
  display: block;
  height: 4rem;
  line-height: 2rem;
  opacity: 0.9;
  padding: 1rem;
  position: fixed;
  right: 1rem;
  text-align: center;
  top: 1rem;
  width: 4rem;
  z-index: 10;
}

.button.button-close:before {
  direction: ltr;
  display: inline-block;
  font-family: "Material Icons";
  font-feature-settings: "liga";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #110f24;
  content: "close";
  line-height: 2rem;
  /* Prevent text from icon name to show up before load */
}

.preload .button.button-close:before {
  font-size: 0;
}

.button.button-close:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .button.button-primary:hover,
  .button.button-secondary:hover {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .button.button-close {
    position: absolute;
  }
}

@media only screen and (max-width: 479px) {
  .button {
    height: 3.5rem;
    line-height: 3.5rem;
  }
  .button.button-s {
    height: 2.5rem;
    line-height: 2.5rem;
  }
  .button.button-m {
    height: 3rem;
    line-height: 3rem;
  }
  .button.button-l {
    height: 4rem;
    line-height: 4rem;
  }
}

/* -----------------------------------------------------------------------------

# Components - Card

----------------------------------------------------------------------------- */
.card {
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.card.dark {
  background: #1d1a3d;
}

.card-content {
  padding: 2rem;
}

@media only screen and (max-width: 479px) {
  .card-content {
    padding: 1.5rem;
  }
}

/* Content styles */
.content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.dashboard {
  background-color: #f7f7f7;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.dashboard form {
  display: flex;
  flex-direction: column;
}

.dashboard label {
  margin-bottom: 0.5rem;
}

.dashboard input,
.dashboard select {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Footer styles */
.footer {
  background-color: #5a7492;
  padding: 1rem;
  text-align: center;
  color: #fff;
}

/* ------------------------------------------- */
/* Adding Grid Layout and Style for the chart */
/* ----------------------------------------- */

.grid-container {
  display: grid;
  grid-template-rows: 70px 70px 70px 70px 150px;
  grid-template-columns: 7fr 5fr 5fr 1fr 4fr 1fr 1fr;
  gap: 7px;
}

.item1 {
  grid-row: 1 / 5;
  grid-column: 1 / 5;
  border: 1px solid #000000;
  border-radius: 8px;
}

.item2 {
  grid-row: 1 / 2;
  grid-column: 5 / 10;
  border: 1px solid #000000;
  border-radius: 8px;
}

.item3 {
  grid-row: 2 / 3;
  grid-column: span 5;
  border: 1px solid #000000;
  border-radius: 8px;
}

.item4 {
  grid-row: 3 / 3;
  grid-column: span 5;
  border: 1px solid #000000;
  border-radius: 8px;
}

.item5 {
  grid-row: 4 / 4;
  grid-column: span 5;
  border: 1px solid #000000;
  border-radius: 8px;
}

.item6 {
  grid-row: 6 / 5;
  grid-column: span 1;
  border: 1px solid #000000;
  border-radius: 8px;
}

.item7 {
  grid-row: 6 / 5;
  grid-column: span 3;
  border: 1px solid #000000;
  border-radius: 8px;
}

.item8 {
  grid-row: 6 / 5;
  grid-column: span 5;
  border: 1px solid #000000;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* Merubah menjadi satu kolom untuk layar yang lebih kecil */
    grid-template-rows: auto; /* Menggunakan auto agar baris berukuran dinamis */
  }

  /* Menyesuaikan item agar muncul satu per satu di bawah satu sama lain */
  .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8 {
    grid-row: auto;
    grid-column: auto;
  }
}
